html, body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}
.loader {
    z-index: 3;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #47639e;
    width: 100%;
    height: 100%;
}
.loadercontainer {
	position:fixed;
    top: 47%;
    left: 47%;
}
.spinloader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #617cb8; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}